.add-icon {
  cursor: pointer;
  color: white;
  background-color: #0d6efd;
  padding: 8px;
  border-radius: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #0b5ed7;
    transform: scale(1.1);
  }
}
.action-buttons {
  display: flex;
  gap: 10px; // espacio entre íconos
  align-items: center;
}

.action-icon {
  cursor: pointer;
  color: #495057;
  padding: 6px;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #e9ecef;
  }
}
.bi-trash{
  color: #dc3545;
}
.bi-pen{
  color: #020200;
}

